CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
.vscode/
*.patch
build/
build_linux/
build_android_ndk/
.DS_Store
local_*
*.cpp.*

ffmpeg-rockchip/build_deps
ffmpeg-rockchip/ffmpeg_install
ffmpeg-rockchip/ffmpeg_build
ffmpeg-rockchip/ffbuild
ffmpeg-rockchip/ffmpeg
